table {
  width: 750px;
  border-collapse: collapse;
  margin: 50px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #3498db;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}

table th{
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 1;
}

.green{
  background-color: rgb(6, 85, 6);
}
.red {
  background-color: rgb(85, 7, 7);
}